<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <description></description>
    <display-name>adduser</display-name>
    <servlet-name>adduser</servlet-name>
    <jsp-file>/adduser.jsp</jsp-file>
  </servlet>
  <servlet>
    <description></description>
    <display-name>addplayer</display-name>
    <servlet-name>addplayer</servlet-name>
    <jsp-file>/addplayer.jsp</jsp-file>
  </servlet>
  <servlet>
    <description></description>
    <display-name>addchamp</display-name>
    <servlet-name>addchamp</servlet-name>
    <jsp-file>/addchamp.jsp</jsp-file>
  </servlet>
  <servlet>
    <description></description>
    <display-name>addteam</display-name>
    <servlet-name>addteam</servlet-name>
    <jsp-file>/addteam.jsp</jsp-file>
  </servlet>
  <servlet>
    <description></description>
    <display-name>hireplayers</display-name>
    <servlet-name>hireplayers</servlet-name>
    <jsp-file>/hireplayers.jsp</jsp-file>
  </servlet>
  <servlet>
    <description></description>
    <display-name>computecalendar</display-name>
    <servlet-name>computecalendar</servlet-name>
    <jsp-file>/computecalendar.jsp</jsp-file>
  </servlet>
  <servlet>
    <description></description>
    <display-name>closeday</display-name>
    <servlet-name>closeday</servlet-name>
    <jsp-file>/closeday.jsp</jsp-file>
  </servlet>
  <servlet>
    <description></description>
    <display-name>addreport</display-name>
    <servlet-name>addreport</servlet-name>
    <jsp-file>/addreport.jsp</jsp-file>
  </servlet>
  <servlet>
    <description></description>
    <display-name>importreports</display-name>
    <servlet-name>importreports</servlet-name>
    <jsp-file>/importreports.jsp</jsp-file>
  </servlet>  
  <servlet-mapping>
    <servlet-name>adduser</servlet-name>
    <url-pattern>/adduser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addplayer</servlet-name>
    <url-pattern>/addplayer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addchamp</servlet-name>
    <url-pattern>/addchamp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addteam</servlet-name>
    <url-pattern>/addteam</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>hireplayers</servlet-name>
    <url-pattern>/hireplayers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>computecalendar</servlet-name>
    <url-pattern>/computecalendar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>closeday</servlet-name>
    <url-pattern>/closeday</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>addreport</servlet-name>
    <url-pattern>/addreport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>importreports</servlet-name>
    <url-pattern>/importreports</url-pattern>
  </servlet-mapping>  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>